TLARGESHELLIMAGES BITMAP largeshellimages.bmp
TLARGESHELLIMAGES16 BITMAP largeshellimages16.bmp
TSHELLBUBBLES BITMAP shellbubbles.bmp
TSHELLBUBBLES16 BITMAP shellbubbles16.bmp
TSHELLBINDING BITMAP shellbinding.bmp
TSHELLBINDING16 BITMAP shellbinding16.bmp
TSHELLEDIT BITMAP shelledit.bmp
TSHELLEDIT16 BITMAP shelledit16.bmp
TSHELLPATHEDITBAR BITMAP shellpathedit.bmp
TSHELLPATHEDITBAR16 BITMAP shellpathedit16.bmp
TSHELLTREE BITMAP shelltree.bmp
TSHELLTREE16 BITMAP shelltree16.bmp
TSHELLVIEW BITMAP shellview.bmp
TSHELLVIEW16 BITMAP shellview16.bmp
TSMALLSHELLIMAGES BITMAP smallshellimages.bmp
TSMALLSHELLIMAGES16 BITMAP smallshellimages16.bmp